body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 300vh;
  background-image: url("C:\AccentureProject\jobportal\src\Components\Assets\wp10409377-accenture-wallpapers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center; 
  overflow-y : hidden; 
   overflow-x: hidden; 

  /* background: linear-gradient(orange, hsla(39, 100%, 50%, 0.829)) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
